*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
}
.login{
    height: 65vh;
    max-width: 30vw;
    min-width: 60vw;
    border-radius: 10px;
    background: linear-gradient(145deg, rgb(27, 91, 130) 0%,
      rgb(54, 139, 158) 20%,
      rgba(0,212,255,1) 100%);
        margin: 20vh auto;
    padding: 20px;
}

h2{
    text-align: center;
    color: white;
    margin: 20px 0 10px 0;
    font-weight: 600;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
form, fieldset{
    border: none;
    margin-top: 10px;
}
label{
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0 0 0;;
}
input{
    min-width: 20vw;
    margin-top: 5px 0 0 5px;
    height: 3vh;
    background: transparent;
    border: none;
    color: white;
    padding: 10px;
}
button{
    display: block;
    background-color: white;
    border: none;
    margin: 10px 0 10px 0;
    padding:8px;
    max-width: 20vw;
}